.widget_settings_title {
  font-size: 40px;
}

.widget_settings_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.widget_settings_modal_main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget_settings_row {
  display: flex;
}

.widget_settings_modal_cross {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.widget_settings_option {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.widget_settings_option input {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
