.edit_todo_modal_links {
  display: flex;

  flex-direction: column;

  gap: 5px;
}

.edit_todo_modal_links_title {
  color: white;
  font-size: 20px;
}

.edit_todo_modal_links_container {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.edit_todo_modal_links_container_add_link_container {
  position: relative;
}

.edit_todo_modal_links_container_add_link_container_dropdown {
  position: absolute;
  top: 30px;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;

  border-radius: 5px;

  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: hidden auto;
  max-height: 200px;
}

.edit_todo_modal_links_container_add_link_container_dropdown::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 8px;
}

.edit_todo_modal_links_container_add_link_container_dropdown::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

.edit_todo_modal_links_container_add_link_container_dropdown::-webkit-scrollbar-thumb {
  background: rgb(47, 47, 211); /* Thumb color */
  border-radius: 5px;
}

.edit_todo_modal_links_container_add_link_container_dropdown::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 228); /* Hover effect */
  cursor: grab;
}

.edit_todo_modal_links_container_add_link_container_dropdown_option {
  padding: 2px;
}

.edit_todo_modal_links_container_add_link_container_dropdown_option:hover {
  background-color: rgb(68, 68, 219);
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
