@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.notification {
  padding: 10px;
  background-color: rgb(77, 77, 179);
  color: white;
  border-radius: 5px;

  animation: slideFromRight 0.3s ease-in-out;
  margin-right: 10px;
}
