.textarea_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textarea_tools {
  display: flex;

  gap: 10px;
}

.textarea_tool:hover {
  cursor: pointer;
}

.textarea_tool:hover path {
  fill: rgb(57, 57, 197);
}

.textarea_tool:active path {
  fill: rgb(39, 39, 133);
}
