.todo {
  width: 500px;
  background-color: rgb(104, 104, 226);

  border-radius: 5px;
  display: flex;
  padding-inline: 5px;
  gap: 10px;
  padding-block: 5px;
}

.todo .todo_name {
  display: flex;
  align-items: center;
  width: 20%;

  height: 50px;
}

.todo .todo_name p {
  color: white;

  max-height: 50px;
  overflow: hidden auto;
}

.todo .todo_name p::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 8px;
}

.todo .todo_name p::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

.todo .todo_name p::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 218); /* Thumb color */
  border-radius: 5px;
}

.todo .todo_name p::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 228); /* Hover effect */
  cursor: grab;
}

.todo .todo_desc {
  width: 80%;
  display: flex;

  overflow: auto hidden;
  max-width: 75%;

  height: 80px;
  margin-bottom: 20px;
}

.todo .todo_desc::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 8px;
}

.todo .todo_desc::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

.todo .todo_desc::-webkit-scrollbar-thumb {
  background: rgb(47, 47, 211); /* Thumb color */
  border-radius: 5px;
}

.todo .todo_desc::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 228); /* Hover effect */
}

.todo .todo_desc p {
  color: white;
}

.todo .todo_arrow_down {
  margin-left: auto;
}

.todo:hover {
  cursor: pointer;
  background-color: rgb(64, 64, 167);
}

.todo:active {
  background-color: rgb(43, 43, 105);
}

.todo_open {
  padding-top: 10px;

  width: 500px;
  background-color: rgb(104, 104, 226);

  border-radius: 5px;
  display: flex;
  padding-inline: 5px;
  position: relative;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.todo_open .todo_name {
  width: 20%;
  color: white;
}

.todo_open .todo_desc {
  display: flex;
  width: 80%;
  color: white;
  height: 100px;

  overflow: auto auto;
  max-width: 75%;
}

.todo_open .todo_desc::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 8px;
}

.todo_open .todo_desc::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

.todo_open .todo_desc::-webkit-scrollbar-thumb {
  background: rgb(47, 47, 211); /* Thumb color */
  border-radius: 5px;
}

.todo_open .todo_desc::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 228); /* Hover effect */
}

.todo_open .todo_arrow_down {
  margin-left: auto;
}

.todo_open .todo_arrow_down:hover {
  cursor: pointer;
}

.todo_temp {
  opacity: 50%;
  padding-block: 5px;
}

.todo_temp .todo_name {
  overflow: auto hidden;
}

.todo_temp .todo_name::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 8px;
}

.todo_temp .todo_name::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

.todo_temp .todo_name::-webkit-scrollbar-thumb {
  background: rgb(47, 47, 211); /* Thumb color */
  border-radius: 5px;
}

.todo_temp .todo_name::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 228); /* Hover effect */
}

.todo_hover_open .todo_name {
  height: 70px;
}

.todo_link {
  color: rgb(53, 219, 231);
  height: 16px;
  margin-inline: 4px;
}

.todo_link:hover {
  cursor: pointer;
  color: rgb(53, 200, 211);
}

.todo_link:active {
  color: rgb(41, 157, 165);
}

.todo_main {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.todo_action_menu_container {
  height: 30px;
  width: 510px;
  background-color: rgb(104, 104, 226);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  border-top: 1px solid black;
}
