.important_date {
  height: 90px;
  background-color: rgb(104, 104, 226);
  border-radius: 5px;

  flex-shrink: 0;

  width: 550px;
}

.important_date_content {
  padding: 10px;
}

.important_date:has(.important_date_content:hover) {
  background-color: rgb(56, 56, 204);
  cursor: pointer;
}

.important_date_content_text {
  overflow: hidden;

  max-height: 50px;
  height: 50px;
  color: white;
}

.important_date_action_menu {
  color: white;
  padding-left: 20px;

  display: flex;
}

.important_date.open {
  height: 100px;
}

.important_date.open .important_date_content_text {
  max-height: 60px;
  height: 60px;
  overflow: auto;
}

.important_date.open .important_date_content_text::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 8px;
}

.important_date.open .important_date_content_text::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

.important_date.open .important_date_content_text::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 196); /* Thumb color */
  border-radius: 5px;
}

.important_date.open
  .important_date_content_text:-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 228); /* Hover effect */
  cursor: grab;
}

.important_date_action_menu_container {
  margin-left: auto;
  padding-inline: 5px;

  display: flex;
  gap: 10px;

  align-items: center;

  height: 16px;
}

.important_date_action_menu_container_cross:hover {
  cursor: pointer;
}

.important_date_action_menu_container_cross:hover path {
  stroke: red;
}

.important_date_action_menu_container_cross svg {
  width: 16px;
  height: 16px;
}

.important_date_action_menu_container_cross {
  height: 16px;
}
.important_date_action_menu_container_edit {
  height: 16px;
}

.important_date_action_menu_container_edit svg {
  width: 20px;
  height: 16px;
}

.important_date_action_menu_container_edit:hover {
  cursor: pointer;
}

.important_date_action_menu_container_edit:hover path {
  fill: rgb(80, 62, 62);
}

.important_date_action_menu_container_check {
  height: 16px;
}

.important_date_action_menu_container_check svg {
  width: 20px;
  height: 16px;
}

.important_date_action_menu_container_check:hover {
  cursor: pointer;
}

.important_date_action_menu_container_check:hover path {
  stroke: rgb(45, 189, 45);
}

.important_date_content_text_textarea {
  background-color: transparent;
  height: 55px;
  color: white;
}

.important_date_action_menu_change_date {
  height: 16px;
}
