.add_todo_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add_todo_container_inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
  background-color: rgb(101, 101, 207);
  padding: 50px;
  border-radius: 5px;
}

.add_todo_container_inputs_option p {
  color: white;
}

.add_todo_container_inputs h1 {
  color: white;
}
