.statistic_column_container {
  display: flex;

  position: relative;
  width: 100px;
}

.statistic_column {
  width: 100px;

  height: 0px;
  background-color: red;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  transition: height 1s ease;

  position: absolute;
  bottom: 0px;
}

.statistic_column_name {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
}

.statistic_column_count {
  position: absolute;
  bottom: -20px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}
