.todo_action_menu {
  position: absolute;

  bottom: 0px;
  right: 15px;

  display: flex;
  gap: 5px;
  z-index: 101;
}

.todo_action_menu_cross:hover {
  cursor: pointer;
}

.todo_action_menu_cross:hover path {
  fill: rgb(122, 128, 223);
}

.todo_action_menu_cross:active path {
  fill: rgb(79, 86, 179);
}

.todo_action_edit {
  cursor: pointer;
}

.todo_action_edit:hover path {
  fill: rgb(67, 67, 196);
}

.todo_action_edit:active path {
  fill: rgb(39, 39, 126);
}

.todo_action_invisible {
  cursor: pointer;
}
