.calendar_main {
  width: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.calendar_container {
  display: flex;

  flex-direction: column;
  background-color: rgb(90, 90, 177);

  padding: 5px;
  border-radius: 10px;

  padding-block: 10px;
}

.calendar_month_names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar_month_name {
  display: flex;
  justify-content: center;

  color: white;
}

.calendar_days {
  margin-top: 10px;
}
.calendar_days_row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar_day_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

.calendar_day {
  padding: 5px;
  width: 120px;
  height: 80px;

  border: 1px solid black;
  font-size: 20px;

  background-color: white;
  border-radius: 5px;
}

.calendar_day_container:hover .calendar_day {
  cursor: pointer;
  background-color: rgb(88, 88, 197);
}

.calendar_day_container:hover .calendar_day_day_p {
  color: white;
}

.calendar_day_container:active .calendar_day {
  background-color: rgb(126, 126, 233);
  color: white;
}

.calendar_action_menu {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.calendar_action_menu_arrow_left:hover {
  cursor: pointer;
}

.calendar_action_menu_arrow_left:hover svg {
  transform: scale(1.2);
}

.calendar_action_menu_arrow_right svg {
  transform: rotate(180deg);
}

.calendar_action_menu_arrow_right:hover {
  cursor: pointer;
}

.calendar_action_menu_arrow_right:hover svg {
  transform: scale(1.2) rotate(180deg);
}

.calendar_current_month {
  color: white;
  background-color: black;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.calendar_action_menu_month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.calendar_action_menu_year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
