.nav_main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav_main_option {
  color: rgb(98, 98, 199);
  background: none;
  border: none;
  outline: none;
}

.nav_main_option:hover {
  cursor: pointer;
  color: blue;
}

.nav_main_option:active,
.nav_main_option.selected {
  color: rgb(42, 42, 163);
}

.navbar_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.navbar_title p {
  font-size: 30px;
  margin-top: 10px;
}

.navbar_title_statistics {
  width: 30px;
  height: 30px;
}

.navbar_title_statistics:hover {
  cursor: pointer;
}
.navbar_title_statistics:hover path {
  fill: rgb(52, 52, 197);
}

.navbar_title_statistics:active path {
  fill: rgb(74, 74, 214);
}
