.active_btn {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: rgb(52, 52, 197);
  color: white;
}

.active_btn:hover {
  cursor: pointer;
  background-color: rgb(44, 44, 133);
}

.active_btn:active {
  cursor: pointer;
  background-color: rgb(82, 82, 197);
}

.active_btn:disabled {
  background-color: rgb(112, 112, 117);
  cursor: auto;
}
