.edit_todo_modal_links_option_container_plus_container {
  display: flex;
}

.edit_todo_modal_links_option_container_plus p {
  color: white;
}

.edit_todo_modal_links_option_container_plus_container div {
  margin-left: auto;
}

.edit_todo_modal_links_option_container_plus svg path {
  stroke: white;
}

.edit_todo_modal_links_option_container_plus svg:hover {
  cursor: pointer;
}

.edit_todo_modal_links_option_container_plus svg:hover path {
  stroke: rgb(56, 223, 56);
}

.edit_todo_modal_links_option_container_plus_input {
  height: 20px;
}

.edit_todo_modal_links_option_container_input_container {
  display: flex;

  gap: 10px;
}

.edit_todo_modal_links_option_container_input_container_btn {
  height: 20px;
  padding: 0px;
  padding-inline: 10px;
}
