.burger-menu {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
}

.burger-menu-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.burger-menu-container:hover {
  cursor: pointer;
}

.burger-menu-container:hover .burger-menu-line {
  background-color: rgb(87, 87, 221);
}

.burger-menu-container:active .burger-menu-line {
  background-color: rgb(55, 55, 161);
}
.burger-menu-line {
  background-color: black;
  height: 4px;
  width: 100%;
  border-radius: 10px;
}

@keyframes burger-menu-modal-animation {
  from {
    height: 0px;
  }

  to {
    height: 60px;
  }
}

.burger-menu-modal {
  position: absolute;
  top: 20px;
  left: 0px;

  background-color: white;
  border: 1.5px solid black;

  width: 200px;
  padding-block: 10px;

  border-radius: 5px;

  animation: 0.5s ease-out burger-menu-modal-animation;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  z-index: 103;
}

.burger-menu-modal-option {
  width: 80%;
  background-color: rgb(110, 110, 212);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.burger-menu-modal-option:hover {
  cursor: pointer;

  background-color: rgb(85, 85, 151);
}

.burger-menu-modal-option:active {
  cursor: pointer;

  background-color: rgb(58, 58, 110);
}
