/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  height: 100vh;

  overflow-y: hidden;
  display: flex;
  padding: 0;
  margin: 0;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}

h1,
p {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}
