.edit_todo_modal_links_option_container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow: hidden auto;
  max-height: 200px;
}

.edit_todo_modal_links_option_container::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 8px;
}

.edit_todo_modal_links_option_container::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

.edit_todo_modal_links_option_container::-webkit-scrollbar-thumb {
  background: rgb(69, 69, 99); /* Thumb color */
  border-radius: 5px;
}

.edit_todo_modal_links_option_container::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 228); /* Hover effect */
  cursor: grab;
}

.edit_todo_modal_links_option {
  display: flex;

  align-items: center;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 5px;
}

.edit_todo_modal_links_option:hover {
  background-color: rgb(48, 48, 207);
  cursor: pointer;
}

.edit_todo_modal_links_option_deadline {
  font-size: 10px;
  color: white;
  width: 45%;

  display: flex;
  justify-content: center;
}

.edit_todo_modal_links_option_title {
  text-overflow: ellipsis;

  max-width: 150px;
  overflow: hidden;

  white-space: nowrap;
  color: white;
}

.edit_todo_modal_links_option_check:hover {
  cursor: pointer;
}

.edit_todo_modal_links_option_check path {
  stroke: rgb(185, 45, 45);
}

.edit_todo_modal_links_option_check.checked path {
  stroke: rgb(46, 202, 46);
}

.edit_todo_modal_links_option_delete:hover {
  cursor: pointer;
}

.edit_todo_modal_links_option_delete svg {
  width: 13px;
  height: 13px;
}

.edit_todo_modal_links_option_delete path {
  stroke: rgb(185, 45, 45);
}

.edit_todo_modal_links_option_action_menu {
  margin-left: auto;
}
